body{
    background-color: #f0fff8;
}
div h1{
    font: size 1.75em;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 50px;
    text-decoration: none;
}
div img{
    width: 80px;
    background-color: aliceblue;
}
p span{
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 700;
    line-height: 1.8;
    text-transform: uppercase;
    letter-spacing: 1px;
}
label{
    /* font-family: sans-serif; */
    font: size 1em;
    font-weight: 900;
    font-family: sans-serif;
    font-size: 10px;
    text-decoration: none;
}
a:hover{
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration: none;
    
}
a:active{
    color:(20, 41, 58, 5);
}
a{
    text-decoration: none;
    color: rgb(246, 8, 8);
}
.abba{
    margin-top: 15px;
}
.ali{
    margin-top: 15px;
}
hr{
    margin-top: 20px;
}
